openapi: 3.0.3
info:
  title: Operativt uppgiftslager API
  version: 1.0.0
  description: API för handläggare att hämta ny uppgift och lista sina tilldelade uppgifter.

paths:
  /uppgifter/handlaggare/{handlaggar_id}:
    post:
      tags: [OperativtUppgiftslagerController]
      operationId: postUppgifterHandlaggare
      summary: Hämta ny uppgift
      description: Hämta ny uppgift som tilldelas handläggaren
      parameters:
        - name: handlaggar_id
          in: path
          required: true
          description: Handläggarens id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ny uppgift hämtad OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUppgifterHandlaggareResponse'
        '400':
          description: Bad request (t.ex. felaktigt handlaggar_id)
    get:
      tags: [OperativtUppgiftslagerController]
      operationId: getUppgifterHandlaggare
      summary: Hämta uppgifter som tilldelats handläggare
      description: Hämta uppgifter som tilldelats handläggare
      parameters:
        - name: handlaggar_id
          in: path
          required: true
          description: Handläggarens id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Uppgifter hämtade OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUppgifterHandlaggareResponse'
        '400':
          description: Bad request (t.ex. felaktigt handlaggar_id)
  
components:
  schemas:
    PostUppgifterHandlaggareResponse:
      type: object
      properties:
        uppgift:
          $ref: '#/components/schemas/Uppgift'
          nullable: true

    GetUppgifterHandlaggareResponse:
      type: object
      properties:
        uppgifter:
          $ref: '#/components/schemas/Uppgifter'

    Uppgift:
      type: object
      required:
        - uppgift_id
        - kundbehovsflode_id
        - status
        - skapad
      properties:
        uppgift_id:
          type: string
          format: uuid
          description: Unikt ID som identifierar instansen av uppgifts-objektet
        kundbehovsflode_id:
          type: string
          format: uuid
          description: Unikt ID som identifierar kundflödet
        skapad:
          type: string
          format: date
          description: DateTime av när uppgiften skapades i ISO 8601 format
        handlaggar_id:
          type: string
          format: uuid
          description: Unikt ID för den tilldelade handläggaren
        planerad_till:
          type: string
          format: date
          nullable: true
          description: DateTime av tidpunkten som uppgiften är planerad att vara färdig i ISO 8601 format
        utford:
          type: string
          format: date
          nullable: true
          description: DateTime av tidpunkten som uppgiften blev färdig i ISO 8601 format
        status:
          type: string
          description: Uppgiftens status
          enum:
            - Ny
            - Tilldelad
            - Avslutad
        regeltyp:
          type: string
          description: Vilken typ av regeln uppgiften avser. Används för av frontend för att veta vilken microfrontend som ska laddas.

    Uppgifter:
      type: array
      items:
        $ref: '#/components/schemas/Uppgift'
      example:
        - uppgift_id: "142bf38e-7cbf-408f-9fe9-6d7aa7636d85"
          kundbehovsflode_id: "5f3e26ca-c7f7-4711-b2ee-c09b38fa6f1c"
          status: "Tilldelad"
          skapad: "2025-03-25T00:00:00Z"
